<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="matrimonyDetail.photo"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ matrimonyDetail.first_name }} {{ matrimonyDetail.last_name }}
    </h5>
    <p class="card-text"></p>
    <div>
      {{resources.Name}} : {{ matrimonyDetail.first_name }} {{ matrimonyDetail.last_name }}
    </div>
    <br />
    <div>{{resources.Occupation}} : {{ matrimonyDetail.occupation }}</div>
    <div>{{resources.Age}} :{{ age }}</div>
    <br />
    <div>{{resources.Summary}} : {{ matrimonyDetail.user_summary }}</div>
    <br />
    <div>{{resources.Gotra}} : {{ matrimonyDetail.gotra }}</div>
    <br />
    <button *ngIf="showUpdateButton" (click)="showUpdateForm()">Update</button>
    <button *ngIf="showUpdateButton" (click)="delete()">Delete</button>
  </div>
</div>
