<div class="card" style="width: 18rem">
  <div class="container">
    <a [routerLink]="" (click)="_showModal = true">
      <img class="card-img-top" [src]="imageSource[1]" alt="Card image cap" />
    </a>
    <div class="text-block">
      <h6>{{resources.Photo}}</h6>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      {{resources.PostedBy}} : {{ tradeDetails.first_name }} {{ tradeDetails.last_name }}
    </h5>
    <p class="card-text"></p>
    <div>{{resources.ItemName}}  : {{ tradeDetails.item_name }}</div>
    <br />
    <div>{{resources.ItemDescription}} : {{ tradeDetails.item_desc }}</div>
    <div>{{resources.ContactNumber}} :{{ tradeDetails.contact_number }}</div>
    <br />
    <div>{{resources.Email}} : {{ tradeDetails.contact_email }}</div>
    <br />
    <div>{{resources.ItemSellAmount}} : {{ tradeDetails.amount }}/-</div>
    <br />
    <button *ngIf="showUpdateButton" (click)="showUpdateForm()">{{resources.Update}}</button>
    <button *ngIf="showUpdateButton" (click)="delete()">{{resources.Delete}}</button>
  </div>
</div>

<app-modal [showModal]="true" (dismiss)="toggleModal()" *ngIf="_showModal">
  <div modalTitle>{{resources.Photo}}</div>
  <app-image-list [imageList]="imageSource"></app-image-list>
</app-modal>
