<div class="card" style="width: 18rem">
  <div class="container">
    <a [routerLink]="" (click)="_showModal = true">
      <img class="card-img-top" [src]="imageSource[1]" alt="Card image cap" />
    </a>
    <div class="text-block">
      <h6>3 photos</h6>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      Posted By :- {{ tradeDetails.first_name }} {{ tradeDetails.last_name }}
    </h5>
    <p class="card-text"></p>
    <div>Item Name : {{ tradeDetails.item_name }}</div>
    <br />
    <div>Item Desc : {{ tradeDetails.item_desc }}</div>
    <div>Contact Number :{{ tradeDetails.contact_number }}</div>
    <br />
    <div>Contact Email : {{ tradeDetails.contact_email }}</div>
    <br />
    <div>Amount : {{ tradeDetails.amount }}/-</div>
    <br />
    <button *ngIf="showUpdateButton" (click)="showUpdateForm()">Update</button>
  </div>
</div>

<app-modal [showModal]="true" (dismiss)="toggleModal()" *ngIf="_showModal">
  <div modalTitle>Photo</div>
  <app-image-list [imageList]="imageSource"></app-image-list>
</app-modal>
