<form [formGroup]="searchForm" (ngSubmit)="doSearch()">
  <div class="form-group">
    <select [formControl]="searchForm.get('searchTerm')" class="form-control">
      <option disabled>{{resources.SelectSearchField}}</option>    
      <option>{{resources.ChooseField}}</option> 
      <option *ngFor="let item of dropDownItems | keyvalue" [value]=item.key>{{ item.value }}</option>
    </select>

    <app-input    
    label= "{{resources.EnterSearchValue}}"  
      [control]="searchForm.get('searchValue')"
    ></app-input>
    <br/>

    <button
      mdbBtn
      color="primary"
      mdbWavesEffect
      class="button is-primary"
      type="submit"
    >
     {{resources.Search}}
    </button>

    <button class="button is-warning" type="button" (click)="onCancelClick()">
      {{resources.Cancel}}
      </button>

    <!-- Form Control values:- {{searchForm.value.searchValue}} <> {{searchForm.value.searchTerm}} -->
  </div>
</form>
