<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="image" alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">{{ firstName }} {{ lastName }}</h5>
    <p class="card-text"></p>
    <div>Father Name : {{ fatherName }}</div>
    <div>Village Name : {{ villageName }}</div>
    <div>Address : {{ address }}</div>
    <div>Mobile Number : {{ mobileNumber }}</div>
    <div>Email Id : {{ emailId }}</div>
    <div>Education : {{ education }}</div>
  </div>
</div>
