<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="userDetails.user_image"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title">
      {{ userDetails.first_name }} {{ userDetails.last_name }}
    </h5>
    <p class="card-text"></p>
    <div>{{resources.FatherName}} : {{ userDetails.father_full_name }}</div>
    <div>{{resources.VillageName}} : {{ userDetails.village_name }}</div>
    <div>
      {{resources.Address}}  :
      {{
        userDetails.address_line_1 +
          "," +
          userDetails.address_line_2 +
          "," +
          userDetails.address_line_3 +
          "," +
          userDetails.suburb_taluka +
          "," +
          userDetails.city +
          "," +
          userDetails.state_name
      }}
    </div>
    <div>{{resources.MobileNumber}} : {{ userDetails.mobile_number }}</div>
    <div>{{resources.Email}} : {{ userDetails.email_id }}</div>
    <div>{{resources.EducationDegree}} : {{ userDetails.education_degree }}</div>
    <button *ngIf="showUpdateButton" (click)="showUpdateForm()">Update</button>
  </div>
</div>
