<app-image-upload [module]="moduleName" (imageUploadResponseEvent)="handleImageUploadResponse($event)">
</app-image-upload>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="field">
            <label class="label">Birth Date</label>
            <div class="control">
                <input type="date" [formControl]="registerForm.get('birth_date')" />
            </div>
        </div>
        <app-input label="Occupation" [control]="registerForm.get('occupation')"></app-input>

        <app-input label="Gotra" [control]="registerForm.get('gotra')"></app-input>

        <div class="field">
            <label class="label">Your Summary</label>
            <div class="control">
                <textarea class="form-control" [formControl]="registerForm.get('user_summary')"></textarea>
            </div>
        </div>
        <button mdbBtn color="primary" mdbWavesEffect class="button is-primary" [disabled]="registerForm.invalid" type="submit">
      {{ resources.Submit }}
    </button>

        <button class="button is-warning" type="button" (click)="onResetClick()">
      {{ resources.Reset }}
    </button>
        <button class="button is-warning" type="button" (click)="onCancelClick()">
      {{ resources.Cancel }}
    </button>
    </div>
</form>