<button (click)="showRegistrationForm()">Register</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Blood Group</th>
      <th scope="col">Contact Number</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngFor="let item of allUsersBloodDetails; let indexOfelement = index"
    >
      <tr>
        <th scope="row">{{ indexOfelement + 1 }}</th>
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td>{{ item.blood_group }}</td>
        <td>{{ item.mobile_number }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
