<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  {{resources.Register}}
</button>

<img src="https://images.unsplash.com/photo-1536856136534-bb679c52a9aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{resources.Name}}</th>
      <th scope="col">{{resources.BloodGroup}}</th>
      <th scope="col">{{resources.ContactNumber}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngFor="let item of allUsersBloodDetails; let indexOfelement = index"
    >
      <tr>
        <th scope="row">{{ indexOfelement + 1 }}</th>
        <td>{{ item.first_name }} {{ item.last_name }}</td>
        <td>{{ item.blood_group }}</td>
        <td>{{ item.mobile_number }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>
