<h5>
  <p>
    Welcome to site of Dode Gurjar Samaj. Dode Gurjar is one of the largest
    cultural society in Maharashtra. This site is a platform to bring together
    the society in more digital way with services like community register,
    posting advertisements, matrimonial service, Blood Registry, post success
    stories / articles. Gurjar or Gujjar (also transliterated as Gujar, Gojar
    and Goojar) is an ethnic agricultural and pastoral community of India. The
    pivotal point in the history of Gurjar identity is often traced back to the
    emergence of a Gurjara kingdom in present-day Rajasthan during medieval
    times (around 570 CE). It is believed that the Gurjars migrated to different
    parts of the Indian Subcontinent from the Gurjara kingdom.
  </p>
</h5>
