<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  Register
</button>
<div>
  <ng-container *ngFor="let item of allTradeDetails">
    <div>
      <app-tradecard
        [tradeDetails]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
        (deleteEvent)="refreshOnDelete()"
      ></app-tradecard>
    </div>
  </ng-container>
  <div>
    <app-pagination
      *ngIf="count !== undefined && count > 0"
      [count]="count"
      [numberOfItemsPerPage]="itemsPerPage"
      (clickEvent)="handlePageChange($event)"
    ></app-pagination>
  </div>
</div>
