<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  Register
</button>
<br/>
<div>
  Search 
</div>
<br/>
<div>
  <app-search 
  [dropDownItems]="searchOptions"
   searchEntity="trade"
   (searchResult)="handleSearchResult($event)"
   (cancel)="handleSearchCancel()"
   >

  </app-search>
</div>
<br/>
<div>
  <ng-container *ngFor="let item of allTradeDetails">
    <div>
      <app-tradecard
        [tradeDetails]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
        (deleteEvent)="refreshOnDelete()"
      ></app-tradecard>
    </div>
  </ng-container>
  <div>
    <app-pagination
      *ngIf="count !== undefined && count > 0 && !isSearchMode"
      [count]="count"
      [numberOfItemsPerPage]="itemsPerPage"
      (clickEvent)="handlePageChange($event)"
    ></app-pagination>
  </div>
</div>
