<ng-template #mymodal let-modal>
  <div class="modal-header">
    <ng-content select="[modalTitle]"></ng-content>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div> -->
  <div class="modal-footer actions actions-default">
    <button (click)="modal.close()" class="btn btn-outline-dark">Ok</button>
  </div>
  <div class="actions">
    <ng-content select="[modalFooter]"></ng-content>
  </div>
</ng-template>
