<!-- <app-registerform></app-registerform> -->
<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  {{resources.Register}}
</button>

<br/>
<div>
  {{resources.SearchArticles}}
</div>
<br/>
<div>
  <app-search 
  [dropDownItems]="searchOptions"
   searchEntity="article"
   (searchResult)="handleSearchResult($event)"
   (cancel)="handleSearchCancel()"
   >
  </app-search>
</div>
<br/>


<div>
  <ng-container *ngFor="let item of allArticlesDetails">
    <div>
      <app-articlecard
        [articleDetail]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
        (deleteEvent)="refereshOnDelete()"
      ></app-articlecard>
    </div>
  </ng-container>
</div>

<div>
  <app-pagination
    *ngIf="count !== undefined && count > 0 && !isSearchMode"
    [count]="count"
    [numberOfItemsPerPage]="itemsPerPage"
    (clickEvent)="handlePageChange($event)"
  ></app-pagination>
</div>
