<!-- <app-registerform></app-registerform> -->
<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  Register
</button>

<div>
  <ng-container *ngFor="let item of allArticlesDetails">
    <div>
      <app-articlecard
        [articleDetail]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
        (deleteEvent)="refereshOnDelete()"
      ></app-articlecard>
    </div>
  </ng-container>
</div>

<div>
  <app-pagination
    *ngIf="count !== undefined && count > 0"
    [count]="count"
    [numberOfItemsPerPage]="itemsPerPage"
    (clickEvent)="handlePageChange($event)"
  ></app-pagination>
</div>
