<app-notification-list></app-notification-list>
<div class="container">
  <div class="header row">
    <div class="col-sm">
      <div *ngFor="let language of languages">
        <label for="language_{{ language.localeId }}">
          <input
            id="language_{{ language.localeId }}"
            [value]="language.localeId"
            type="radio"
            name="language"
            [checked]="localeId == language.localeId"
            (change)="languageSelected($event, language)"
          />
          {{ language.name }}
        </label>
      </div>
    </div>
    <div class="col-sm">
      <a class="nav-link" routerLink="/login" routerLinkActive="active"
        >Login</a
      >
    </div>
  </div>
</div>
<body class="bg">
  <div class="container">
    <div class="header row">
      <div class="col-sm">
        <img
          class="img-responsive img-thumbnail"
          style="width: 30%"
          src="../assets/ganesh.jpg"
        />
      </div>
      <div class="col-sm bannername">
        <h1>{{ resources.DodeGurjarLabel }}</h1>
      </div>
      <div class="col-sm">
        <img
          class="img-responsive img-thumbnail"
          style="width: 50%"
          src="../assets/sardarpatel.jpg"
        />
      </div>
    </div>
  </div>

  <ul class="nav justify-content-center">
    <a class="nav-link" routerLink="/" routerLinkActive="active"> Home </a>
    <a class="nav-link" routerLink="/registry/home" routerLinkActive="active">{{
      resources.CommunityModuleLabel
    }}</a>
    <a
      class="nav-link"
      routerLink="/matrimony/home"
      routerLinkActive="active"
      >{{ resources.MatrimonyModuleLabel }}</a
    >

    <a class="nav-link" routerLink="/trade/home" routerLinkActive="active">{{
      resources.TradeModuleLabel
    }}</a>

    <a
      class="nav-link"
      routerLink="/blooddetails/home"
      routerLinkActive="active"
      >{{ resources.BloodModuleLabel }}</a
    >

    <a class="nav-link" routerLink="/articles/home" routerLinkActive="active">{{
      resources.ArticlesModuleLabel
    }}</a>

    <a class="nav-link" routerLink="/advertise/home" routerLinkActive="active"
      >Post Advertisement</a
    >
  </ul>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm"><app-banner></app-banner></div>
      <div class="col-sm"><router-outlet></router-outlet></div>
    </div>
  </div>

  <div>
    <app-footerhome></app-footerhome>
  </div>
</body>
