<div *ngFor="let language of languages">
  <label for="language_{{ language.localeId }}">
    <input
      id="language_{{ language.localeId }}"
      [value]="language.localeId"
      type="radio"
      name="language"
      [checked]="localeId == language.localeId"
      (change)="languageSelected($event, language)"
    />
    {{ language.name }}
  </label>
</div>
<label for="firstName">{{ resources.FirstName }}</label>
<body class="bg">
  <div class="container">
    <div class="header row">
      <div class="col-sm">
        <img
          class="img-responsive img-thumbnail"
          style="width: 20%;"
          src="../assets/ganesh.jpg"
        />
      </div>
      <div class="col-sm bannername">
        <h1>दोडे गुर्जर समाज</h1>
      </div>
    </div>
  </div>

  <ul class="nav justify-content-center">
    <li *ngFor="let menuElement of menuElements" class="nav-item">
      <a
        class="nav-link"
        routerLink="/registry/home"
        routerLinkActive="active"
        >{{ menuElement.name }}</a
      >
    </li>
  </ul>

  <router-outlet></router-outlet>
  <div>
    <app-footerhome></app-footerhome>
  </div>
</body>
