<div *ngFor="let language of languages">
  <label for="language_{{ language.localeId }}">
    <input
      id="language_{{ language.localeId }}"
      [value]="language.localeId"
      type="radio"
      name="language"
      [checked]="localeId == language.localeId"
      (change)="languageSelected($event, language)"
    />
    {{ language.name }}
  </label>
</div>
<body class="bg">
  <div class="container">
    <div class="header row">
      <div class="col-sm">
        <img
          class="img-responsive img-thumbnail"
          style="width: 20%"
          src="../assets/ganesh.jpg"
        />
      </div>
      <div class="col-sm bannername">
        <h1>{{ resources.DodeGurjarLabel }}</h1>
      </div>
    </div>
  </div>

  <ul class="nav justify-content-center">
    <a class="nav-link" routerLink="/registry/home" routerLinkActive="active">{{
      resources.CommunityModuleLabel
    }}</a>
    <a
      class="nav-link"
      routerLink="/matrimony/home"
      routerLinkActive="active"
      >{{ resources.MatrimonyModuleLabel }}</a
    >

    <a class="nav-link" routerLink="/trade/home" routerLinkActive="active">{{
      resources.TradeModuleLabel
    }}</a>

    <a
      class="nav-link"
      routerLink="/blooddetails/home"
      routerLinkActive="active"
      >{{ resources.BloodModuleLabel }}</a
    >

    <a class="nav-link" routerLink="/articles/home" routerLinkActive="active">{{
      resources.ArticlesModuleLabel
    }}</a>
  </ul>

  <router-outlet></router-outlet>
  <div>
    <app-footerhome></app-footerhome>
  </div>
</body>
