<!-- <app-registerform></app-registerform> -->
<button (click)="showRegistrationForm()">Register</button>

<div>
  <ng-container *ngFor="let item of allUserDetails">
    <div>
      <app-citizencard
        [userDetails]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
      ></app-citizencard>
    </div>
  </ng-container>
</div>

<div>
  <app-pagination
    *ngIf="count !== undefined && count > 0"
    [count]="count"
    [numberOfItemsPerPage]="itemsPerPage"
    (clickEvent)="handlePageChange($event)"
  ></app-pagination>
</div>
