<!-- <app-registerform></app-registerform> -->
<button (click)="showRegistrationForm()">Register</button>
<br/>
<div>
  Search User 
</div>
<br/>
<div>
  <app-search 
  [dropDownItems]="searchOptions"
   searchEntity="user"
   (searchResult)="handleSearchResult($event)"
   (cancel)="handleSearchCancel()"
   >

  </app-search>
</div>
<br/>
<div>
  <ng-container *ngFor="let item of allUserDetails">
    <div>
      <app-citizencard
        [userDetails]="item"
        [showUpdateButton]="item.userid === loggedinUserId ? true : false"
      ></app-citizencard>
    </div>
  </ng-container>
</div>

<div>
  <app-pagination
    *ngIf="count !== undefined && count > 0 && !isSearchMode"
    [count]="count"
    [numberOfItemsPerPage]="itemsPerPage"
    (clickEvent)="handlePageChange($event)"
  ></app-pagination>
</div>
