<button (click)="showRegistrationForm()" *ngIf="isUserLoggedIn()">
  {{resources.Register}}
</button>
<br />
<div>
  {{resources.SearchMatrimony}}
</div>
<br />
<div>
  <app-search [dropDownItems]="searchOptions" searchEntity="matrimony" (searchResult)="handleSearchResult($event)"
    (cancel)="handleSearchCancel()">
  </app-search>
</div>
<br />
<div>
  <div class="card-deck" >
  <ng-container *ngFor="let item of allUserMatrimonyDetails">
    <div>
      <app-matrimonycard [matrimonyDetail]="item" [showUpdateButton]="item.userid === loggedinUserId ? true : false"
        (deleteEvent)="refereshOnDelete()"></app-matrimonycard>
    </div>
  </ng-container>
</div>
</div>
<div>
  <app-pagination *ngIf="count !== undefined && count > 0 && !isSearchMode" [count]="count"
    [numberOfItemsPerPage]="itemsPerPage" (clickEvent)="handlePageChange($event)"></app-pagination>
</div>