<app-image-upload [module]="moduleName" (imageUploadResponseEvent)="handleImageUploadResponse($event)">
</app-image-upload>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <button mdbBtn color="primary" mdbWavesEffect class="button is-primary" [disabled]="registerForm.invalid" type="submit">
          {{ resources.Submit }}
    </button>
        <button class="button is-warning" type="button" (click)="onResetClick()">
      {{ resources.Reset }}
    </button>
        <button class="button is-warning" type="button" (click)="onCancelClick()">
      {{ resources.Cancel }}
    </button>
    </div>
</form>